/* Set height of body and the document to 100% to enable "full page tabs" */
nav div{
  background:#0a0a0a;
  font-size: 150%;
}
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial;
  background:  #eee;
}



form {
  padding: 20px;
}

section {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

section column {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  
}
  
section column:nth-child(2) {
  flex: 1;
}

section column > div {
 flex: 1;
 margin: 10px;
 border: 1px solid black;
 overflow: auto;
}

div#video { 
  display: flex;
  flex-direction: row;
  /* background: red; */
}

div#video > * {
  width: 100%;
}

div#video video {
  display: flex;
  width: 95%;
  background: black;
}

span.glyphicon-trash {
  color: silver;
  font-size: 110%;
  font-weight: bold;
}
body section column >div{
  /* background: white; */
  background: white;

  border-radius: 5px;
  border: 2px  white;
     
}
div#video {
  overflow: hidden; /* empecher le scroll sur la grande div */

 }
 
 div#video div {
  overflow: auto; /* autoriser le scroll sur la div qui entoure le tableau, parce qu'on peut pas scroll directement sur un tableau */
 }
 
 section column div table tr {
  cursor: pointer;
 }
 
table th {
  background: #337ab7;
  color: white;
}

 section column div table tr:hover span.glyphicon-trash {
  color: red;
 }
readme{
  margin : auto ;
  width: 80%;
  background: white;
  padding: 20px 50px;
  
}

